:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: auto;
}

/* Navrbar Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background-color: #081b29;
  border-bottom: 0.1px solid #0e2636;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  font-style: italic;
  transition: 0.3s ease;
}

.navbar .navbar-logo:hover {
  transform: scale(1.1);
}
.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: -2rem 0.9rem;
  font-weight: 500;
  align-items: right;
}

.navbar .navbar-nav a:hover {
  color: var(--main-color);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--main-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--main-color);
}

#humberger-menu {
  display: none;
}
/* Navrbar End */

/* Home Section Start */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  display: block;
}

.hero .content h1 {
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 3px rgb(0, 171, 240, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgb(0, 171, 240, 0.5);
}

.hero .content .cta:hover {
  background-color: #0781b1;
  transition: 0.3s ease;
}

.hero .content span:hover {
  color: var(--main-color);
  transition: 0.2s linear;
}

.home-img {
  width: 45%;
  height: 70%;
}
.row .home-img {
  margin-bottom: 28rem;
  position: 90px 120px;
  margin-left: 30rem;
  bottom: 50%;
}
.home-img img {
  position: absolute;
  height: 80%;
  margin-bottom: 3rem;
  bottom: 0;
  left: 30%;
  transition: bottom 1s, left 1s;
  transform: translateX(-39%);
}
.home-img .rezzy {
  bottom: 14%;
}

.home-img:hover .shape {
  bottom: 40px;
}

.home-img:hover .rezzy {
  left: 40px;
}

.hero .wrapper {
  display: flex;
  margin-top: 80px;
  position: absolute;
}
.hero .wrapper .icon {
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero .wrapper .icon span {
  display: flex;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;

  position: "";
  background: transparent;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hero .wrapper .icon span a {
  color: white;
}
.hero .wrapper .icon span a:hover {
  color: #00abf0;
}

.hero .wrapper .icon span i {
  line-height: 60px;
  font-size: 25px;
}

.hero .wrapper .icon .tooltip {
  position: absolute;
  top: 0;

  background: transparent;
  color: #00abf0;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 25%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero .wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
  font-weight: 700;
}

.hero .wrapper .icon .tooltip::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: transparent;
  left: 50%;
  bottom: -6px;
  transform: scaleX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero .wrapper .icon:hover span {
  color: #00abf0;
}
.hero .wrapper .icon:hover span,
.hero .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

/* Home Section End */

/* About Start */
.about {
  padding: 5.5rem 7% 1.4rem;
  background-color: var(--second-bg-color);
  height: 50rem;
}

.about span {
  color: #00abf0;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1.3rem;
}

.about .row {
  display: flex;
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgb(0, 171, 240, 0.5);
  transition: 0.3s ease;
}

.about .row:hover {
  box-shadow: 0px 0px 15px var(--main-color), 0px 0px 35px var(--main-color),
    0px 0px 45px var(--main-color);
}

/* /* .about .row .about-img {
  flex: 1 1 35rem;
} */
.about .row .about-img img {
  margin-top: 5rem;
}

/* .about .row .content {
  flex: 1 1 35rem;
  padding: 6rem 2rem;
} */

.about .content h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  padding-top: 3rem;
}

.about .content p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6rem;
  margin-right: 1.5rem;
  margin-bottom: 20px;
}
.about .content h3:hover {
  color: #00abf0;
  transition: 0.5s;
}

.about .content h3 span:hover {
  color: white;
  transition: 0.3s;
}

.about .content h3 strong:hover {
  color: white;
  transition: 0.3s;
}

/* .about .about-img img:hover {
  background-color: var(--second-bg-color);
  border-radius: 50px;
  transition: 0.5s;
} */

/* .about .about-img {
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgb(0, 171, 240, 0.5);
} */
/* About End */

/* My Skills */

.skills_section {
  width: 100%;
  height: 100vh;
  padding: 0px 13%;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills_head {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}
.skills_head h2 {
  font-size: 2.6rem;
}
.skills_head h2 span {
  color: #00abf0;
}
.skills_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skill_bar .info p:nth-child(2) {
  font-weight: 500;
}
.skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #00abf0;
  border-radius: 25px;
}
.skill_bar .bar .html {
  width: 71%;
  animation: html 2s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 71%;
  }
}
.skill_bar .bar .css {
  width: 64%;
  animation: css 2s;
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 64%;
  }
}
.skill_bar .bar .js {
  width: 45%;
  animation: js 2s;
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
.skill_bar .bar .php {
  width: 33%;
  animation: php 2s;
}
@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 33%;
  }
}
.skill_bar .bar .animate {
  width: 20%;
  animation: animate 2s;
}
@keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
.skill_bar .bar .java {
  width: 15%;
  animation: java 2s;
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}
.skill_bar .bar .c {
  width: 10%;
  animation: c 2s;
}
@keyframes c {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}
.skill_bar .bar .python {
  width: 8%;
  animation: python 2s;
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 8%;
  }
}

/* My Skills */

/* Project Start */

.project {
  background-color: var(--second-bg-color);
  width: 100%;
  min-height: 120vh;
  padding-top: 120px;
  padding-bottom: 50px;
}

.project .container h1 {
  font-size: 2.6rem;
  text-align: center;
}

.project .container > p {
  margin-top: 0.3rem;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}
.project .container h1 span {
  color: var(--main-color);
}

.project .container p span:hover {
  color: var(--main-color);
  transition: 0.2s;
}
.project .swiper {
  margin-top: 2rem;
  padding-bottom: 60px;
  margin-left: 3rem;
  margin-right: 3rem;
}
/* .project .swiper .swiper-slide {
  background-color: var(--second-bg-color);
  border-radius: 50px;

  box-shadow: 1px 1px 3px rgb(0, 171, 240, 1);
} */
.project .swiper .swiper-slide img {
  margin-top: 1rem;
  width: 250px;
  height: 250px;
  border-radius: 50px;
  box-shadow: 1px 1px 4px rgb(0, 171, 240, 1);
  margin-left: 4rem;
  transition: 0.3s ease;
}

.project .swiper .swiper-slide img:hover {
  box-shadow: 0px 0px 5px var(--main-color, 0.6),
    0px 0px 10px var(--main-color, 0.4), 0px 0px 15px var(--main-color, 0.2);

  transform: scale(1);
}

.project .swiper .swiper-slide:hover {
  cursor: grab;
}
.project .swiper .swiper-slide:hover:active {
  cursor: grabbing;
}
.project .swiper .swiper-slide .desc-project {
  margin-top: 1.2rem;
}

.project .swiper .swiper-slide .desc-project p {
  font-size: 12px;
  font-weight: 300;
  /* margin-bottom: p7x; */

  text-align: center;
}

.project .swiper .swiper-slide .desc-project h2 {
  color: #00abf0;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}

.project .cta:hover {
  background-color: #0781b1;
  transition: 0.3s ease;
}

.project .btn-project {
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.project .btn-project a {
  color: whitesmoke;
  font-weight: 600;
  font-size: 1rem;
}
.project .btn-project a:hover {
  color: rgb(206, 203, 203);
  transition: 0.3s ease;
}
.project .btn-project button:hover {
  background-color: #0781b1;
  transition: 0.3s ease;
  cursor: pointer;
}
.project .btn-project button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgb(0, 171, 240, 0.5);
}
/* Project End */

/* Contact */
.contact {
  min-height: 100vh;
  padding: 50px;
  text-align: center;
}

.contact .container {
  max-width: 800px;
  margin: 0 auto;
}

.contact .container strong {
  color: #00abf0;
}

.contact .container h2 {
  font-size: 2.4rem;
  margin-top: 5rem;
  margin-bottom: 40px;
}

.contact .container .contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.contact .container .contact-wrapper .contact-form {
  text-align: left;
}

.contact .container .contact-wrapper .contact-form span:hover {
  color: #00abf0;
  transition: 0.3s;
}

.contact .container .contact-wrapper .contact-form h3 {
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
}

.contact .container .contact-wrapper .contact-form .form-group {
  margin-bottom: 1.1rem;
}
.contact-wrapper .contact-form .form-group input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 0.5rem;
  border: none;
  background-color: #f8f9fa;
  color: #333;
}
.contact-wrapper .contact-form .form-group input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #bbb;
}
.contact-wrapper .contact-form button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #00abf0;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 12px;
  transition: 0.3s ease;
}
.contact-wrapper .contact-form button:hover {
  background-color: #0781b1;
}

.contact-wrapper .contact-info {
  text-align: left;
}
.contact-wrapper .contact-info span:hover {
  color: #00abf0;
  transition: 0.3s;
}
.contact-wrapper .contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
}

.contact-wrapper .contact-info > p {
  margin-bottom: 10px;
  text-align: left;
  display: inline-flex;
}
.contact-wrapper .contact-info #mail {
  color: #00abf0;

  margin-right: 10px;
}

.contact-form button a {
  color: white;
}
/* Contact */
/* Media Queeris */

/* Laptop */
@media screen and (max-width: 1366px) {
  html {
    font-size: 100%;
  }
  #about {
    min-height: 100vh;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #humberger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #0e283a;
    width: 20rem;
    height: 800vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .about .row .about-img img {
    display: none;
  }

  .about .content h3 {
    text-align: center;
  }
  .about .content p {
    text-align: center;
    margin: 1rem 4rem;
  }
  .hero .wrapper {
    display: none;
  }

  .contact {
    padding: 20px;
  }

  .contact .container .contact-wrapper {
    grid-template-columns: 1fr;
  }
  .contact .contact-info {
    display: grid;
  }

  .home-img {
    width: 25%;
    height: 50%;
  }

  #about {
    min-height: 100vh;
  }
  #skills {
    min-height: 0vh;
  }

  #img-home {
    height: 50%;
    display: none;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
}
